body {
    height: 100%;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    background-color: #f6c177;
}

img, input[type=image] {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    position: relative;
}

.container {
    height: 480px;
    padding: 20px 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    color: black;
}

.flex, input[type=text], input[type=submit] {
    margin: auto;
    position: relative;
}

#box {
    width: 200px;
    height: 80px;
    text-align: center;
    color: black;
    background-color: #9ccfd8;
} 

.navigation {
    width: 200px;
    height: 100%;
    padding-top: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ebbcba;
} 

.navigation a {
    padding: 32px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    color: #818181;
}
  
.navigation a:hover {
    color: #9ccfd8;
}

@media screen and (max-width: 480px), (max-height: 480px) {
    .navigation {
        display: flex;
        width: 100%;
        height: 32px;
    }
    
    .navigation a {
        display: block;
        padding-top: 0px;
        font-size: 16px;
    }

    .container {
        padding: 64px 16px;
        align-items: center;
    }
}